@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover-gray: #272727;
    --cor-hover-orange: orange;
    --cor-hover-blue: #007bff;
    --cor-active: darkred;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 9% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.cabecalho__menu li {
    list-style: none;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover-blue);
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
    gap: 82px;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.principal__conteudo p {
    text-align: justify;
}

.principal__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2.25rem;
    text-align: justify;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.principal__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.principal__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.principal__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.principal__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--cor-terciaria);
    padding: 21.5px 0;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
}

.principal__links__link:hover {
    border: 4px solid var(--cor-hover-orange);
    background-color: var(--cor-hover-gray);
}

.principal__links__link:active {
    background-color: var(--cor-active);
}

.principal__imagem {
    width: 50%;
}

.rodape {
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}


/*Página do Curriculo*/

.curriculo {
    padding: 5% 20%;
}

.curriculo__sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    padding-bottom: 20px;
}

.curriculo__sections__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
    margin-top: 15px;
}

.curriculo__sections__titulo__div {
    width: 350px;
}

.curriculo__sections__nome {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 20px;
}

.curriculo__sections__link {
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 0 10px;
}

.curriculo__sections td {
    padding: 5px 0;
}

.curriculo__sections__div__periodo {
    width: 150px;
}

.curriculo__sections__identificacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 700px;
    font-family: var(--fonte-secundaria);
    line-height: 1.6;
    border-left: 1px solid var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-terciaria);
    padding-left: 10px;
    padding-bottom: 30px;
    margin-top: 15px;
}

#curriculo-imagem {
    width: 140px;
    height: 140px;
    box-shadow: 5px 5px var(--cor-terciaria);
}

.curriculo__sections__div {
    text-align: justify;
    font-size: 20px;
    width: 700px;
    font-family: var(--fonte-secundaria);
    line-height: 1.5;
    border-left: 1px solid var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-terciaria);
    padding-left: 10px;
    padding-bottom: 30px;
    margin-top: 15px;
}

.curriculo__sections__div p {
    padding-bottom: 8px;
    text-align: justify;
}

.curriculo__sections__div td {
    vertical-align: top;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .principal {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .principal__conteudo {
        width: auto;
    }
}

@media (max-width: 800px) {

}

@media (max-width: 480px) {

}

